footer {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
  .logo {
    img {
    width: 10%;
    }
  }
  li {
    text-align: left;
    float: left;
  }
  p {
    color: white;
    float: left;
    //width: 16%;
    padding-left: 17px;
    a {
      color: $site_blue;
    }
  }
  .policy {
    float: left;
    padding-bottom: 10px;
  }
  .mail {
    float: left;
  .fa-envelope {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    float: left;
    &:hover {
      color: $site_blue;
      border: 1px solid $site_blue;
      }
    }
  }
  .mixpanel {
    float: left;
    display: inline-block;
    padding-left: 10px;
    a {
      margin-left: 10px;
    }
  }
}
