* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 90vh;

  &:nth-of-type(2n) {
    background-color: #FE4B74;
  }
}

.intro {
  height: 90vh;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
  text-align:center;
}
h2 {
  text-align:center;
  font-size: 2.3em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}
#portfolio {
  .row {
  }
  img {
    width: 100%;
  }
}
a {
display: block;
position: relative;
.hover-on & {
  &:focus, &:hover {
    .product-hover {
        opacity: 1;
       }
    }
  }
}

.product-hover {
  background: #333;
  opacity: 1;
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #fff;
  -webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;;
	transition: opacity 0.2s linear;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

  .hover-on & {
    //Hide after mousemove fires
    opacity: 0;
  }
}
.client {
  display: block;
  color: #FE4B74;
  }
  .title {
    font-weight: 200;
  }
  #about {
    height: 50vh;
    .row {
    }

    img {
      height: 250px;
      margin-top: 50px;
      margin-left: 50px;
    }
    p {
      font-size: 1em;
    }
    .text {
      margin-top: 50px;
      margin-right: 50px;
    }
  }
  i {
    font-size: .9em;
    color: #C3CAD9;
  }
  #resume {
    margin: 0 auto;
    text-align: center;
  }
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;

  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}
